

#str {
    width:  40px;
    height: 40px;
    margin-top: 50px;
    -webkit-appearance: none;
    text-align: center;
    border-radius: 10px;
}

#dex {
    width: 40px;
    height: 40px;
    margin-top: 20px;
    -webkit-appearance: none;
    text-align: center;
    border-radius: 10px;
}

#con {
    width: 40px;
    height: 40px;
    margin-top: 50px;
    -webkit-appearance: none;
    text-align: center;
    border-radius: 10px;
}

#int {
    width: 40px;
    height: 40px;
    margin-top: 15px;
    -webkit-appearance: none;
    text-align: center;
    border-radius: 10px;
}

#wis {
    width: 40px;
    height: 40px;
    margin-top: 15px;
    -webkit-appearance: none;
    text-align: center;
    border-radius: 10px;
}

#cha {
    width: 40px;
    height: 40px;
    margin-top: 15px;
    -webkit-appearance: none;
    text-align: center;
    border-radius: 10px;
}

.str_mod {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.dex_mod {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}


.con_mod {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.int_mod {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.wis_mod {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.cha_mod {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}



#character-sheet-stats {
    display: grid;
    grid-auto-rows: 1fr;
    width: 100%;
    background-color: rgba(251, 247, 245, 0.89);
    border-radius: 10px;    
}

.character-sheet-survival-stats {
    display: flex;
    flex-direction: column;
    margin: 35px;
    border-radius: 10px;
    border: 3px solid black;
    flex-grow: 3;
    justify-content: center;
    background-color: rgba(251, 247, 245, 0.89);
    align-items: center;
    padding: 15px;
}

.character-health-armor {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    gap: 20px;
    place-items: center;
    padding-top: 50px;
}

#hp-label {
    margin-right: 10px;
}

#hp {
    height: 50px;
    text-align: center;
}

#temp-hp-label {
    margin-right: 25px;
}

#temp-hp {
    height: 50px;
    text-align: center;
}

#ac-label {
    margin-right: 37px;
}

#ac {
    height: 50px;
    text-align: center;
}

#hit-dice-label {
    margin-right: 25px;
}

#hit-dice {
    height: 65px;
    width: 100px;
    border: 2px solid black;
}



.character-misc-stats {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

#character-speed {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

#initiative-button {
    font-size: 32px;
    height: 75px;
    width: 100px;
}

#initiative_input {
    text-align: center;
}

#speed_input {
    text-align: center;
}

#perception_input {
    text-align: center;
}

#proficiency_input {
    text-align: center;
}

#character-initiative {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

#character-perception {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

#character-proficiency {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.character-items {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
    width: 100%;
}

#equip-list li {
    margin: 15px;
}

#inventory-list li {
    margin: 15px;
}

#character-equipment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid black;
    border-radius: 10px;
    flex-grow: 1;
    margin-right: 5px;

}

#equipment-input {
    display: flex;
    justify-content: center;
}

#equipment-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#character-inventory {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    flex-grow: 1;
    margin-left: 5px;
}


#character-attributes-section-str {
    display: flex;
    flex-grow: 1;
    border-bottom: 2px solid black;
}


#character-strength {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

}


#strength-skills {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 2;
    padding-left: 10px;
    padding-top: 10px;
}

#strength-skills label {
    display: inline-block;
    width: 150px;
}

#character-attributes-section-dex {
    display: flex;
    border-bottom: 2px solid black;
}

#character-dexterity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

#dexterity-skills {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 2;
    padding-left: 10px;
    padding-top: 10px;
}

#dexterity-skills label {
    display: inline-block;
    width: 150px;
}


#character-attributes-section-con {
    display: flex;
    flex-grow: 1;
    border-bottom: 2px solid black;
}


#character-constitution {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

#constitution-skills {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 2;
    align-items: center;
    padding-left: 10px;
    padding-top: 10px;
}

#constitution-skills label {
    display: inline-block;
    width: 150px;
}



#character-attributes-section-int {
    display: flex;
    flex-grow: 1;
    border-bottom: 2px solid black;
}



#character-intelligence {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

#intelligence-skills {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 2;
    align-items: center;
    padding-left: 10px;
    padding-top: 10px;
}

#intelligence-skills label {
    display: inline-block;
    width: 150px;
}



#character-attributes-section-wis {
    display: flex;
    flex-grow: 1;
    border-bottom: 2px solid black;
}


#character-wisdom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
}

#wisdom-skills {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 2;
    padding-left: 10px;
    padding-top: 10px;
}

#wisdom-skills label {
    display: inline-block;
    width: 150px;
}



#character-attributes-section-cha {
    display: flex;
    flex-grow: 1;
}


#character-charisma {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
}

#charisma-skills {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 2;
    padding-left: 10px;
    padding-top: 10px;
}

#charisma-skills label {
    display: inline-block;
    width: 150px;
}

