.character-sheet-model-and-attacks {
    display: flex;
    border: 1px solid red;
    flex-direction: column;
    margin: 35px;
    border-radius: 25px;
    border: 2px solid black;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;

}

#model-canvas {
    width: 600px;
    height: 600px;
    border: 2px solid black;
}

#character-canvas {
    display: flex;
    width: 100%;
    justify-content: center;
}

#character-attacks-and-spells {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 600px;
    justify-content: space-evenly;
    border: 1px solid black;
    border-radius: 25px;
}

#attack-spell-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#attack-spell-list li {
    margin: 15px;
}

#attack-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}