/* character test */
#character-sheet-header {
    display: flex;
    justify-content: space-evenly;
    flex-basis: auto;
    margin: 35px;
    width: 100%;
    height: 100px;
    border-radius: 25px;
    border: 2px solid green;
    
}

#character-name {
    display: inline-flex;
    justify-content: center;
    flex-grow: 1;
    border: 1px solid black;
    text-align: center;
}

.character-details {
    display: inline-flex;
    justify-content: space-evenly;
    flex-grow: 3;
    border: 1px solid red;
}

#nav-links {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    flex-grow: 1;
    border: 1px solid red;
}

#character-details-section-1 {
    display: block;
    width: 50%;
}



#character-details-section-2 {

    width: 50%;
}


#class {
    width: 100%;
    height: 50%;
    border: 1px solid red;
}

#state{
    width: 100%;
    height: 50%;
    border: 1px solid red;
}

#race {
    width: 100%;
    height: 50%;
    border: 1px solid red;
}

#ailment {
    width: 100%;
    height: 50%;
    display: inline;
    border: 1px solid red;
}

