/* character test */
#character-sheet-header {
    display: flex;
    justify-content: space-evenly;
    flex-basis: auto;
    margin: 35px;
    width: 100%;
    height: 100px;
    border-radius: 25px;
    border: 2px solid black;
    background-color: rgba(251, 247, 245, 0.89);
    
}

#character-name {
    display: inline-flex;
    flex-grow: 1;
}

#character-name-box {
    display: inline-flex;
    justify-content: center;
    flex-grow: 1;
    text-align: center;
    font-size: 36px;
    background: rgba(204, 204, 204, 0);
    outline: none !important;
    border: none;
    text-decoration: underline;
}

.character-details {
    display: inline-flex;
    justify-content: space-evenly;
    flex-grow: 3;
}

#nav-links {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    flex-grow: 1;
}

#character-details-section-1 {
    display: block;
    width: 50%;
}


#character-details-section-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}


#class {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50%;
    justify-content: space-evenly;
}

#state{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    height: 50%;
}

#race {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50%;
}

#background-select {
    margin-left: 15px;
}

#ailment {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    height: 50%;
    display: inline;
}


