@import url(./styles/reset.scss);
@import url(./styles/char-sheet-stats.scss);
@import url(./styles/char-sheet-header.scss);
@import url(./styles/char-attacks-spells.scss);

@font-face {
    font-family: dnd;
    src: url('/assets/dnd_font.TTF');
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 10px;
    background-color: white;
    background-image: url('/assets/grid.jpg');
    background-size: cover;
    background-position: center;
    font-family: dnd;
    font-size: 25px;
}

#character-sheet-body {
    display: flex;
    width: 100%;
}

#header-container {
    display: flex;
    height: 100px;
    width: 90%;
    margin: 35px;
    border-radius: 25px;
    flex-grow: 1;

}

#stat-container {
    display: flex;
    border: 2px solid black;
    margin: 35px;
    justify-content: space-evenly;
    border-radius: 25px;
    flex-grow: 2;
}

.tooltip {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 500px;
    overflow: hidden;
    background: blueviolet;
    color: whitesmoke;
    padding: 10px 20px;
    margin: 20px;
    border: 1px solid black;
    z-index: 9001;
}

#hold {
    display: none;
}

.ui-helper-hidden-accessible{
    display:none !important;
}