@import url(./styles/reset.scss);
@import url(./styles/char-sheet-stats.scss);
@import url(./styles/char-sheet-header.scss);
@import url(./styles/char-attacks-spells.scss);

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 10px;
}

#character-sheet-body {
    display: flex;
    border: solid 1px black;
    width: 100%;
}

#header-container {
    display: flex;
    height: 100px;
    width: 90%;
    margin: 35px;
    border-radius: 25px;
    flex-grow: 1;

}

#stat-container {
    display: flex;
    border: 2px solid black;
    margin: 35px;
    justify-content: space-evenly;
    border-radius: 25px;
    flex-grow: 2;
}

.tooltip-div {
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    background: blueviolet;
    color: whitesmoke;
    padding: 10px 20px;
    margin: 20px;
    border: 1px solid black;
    z-index: 9001;
}


